@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

/*
font-family: 'Gentium Book Basic', serif;
font-family: 'Crimson Text', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

a[href^="#endnote"]:before {
    content: "[";
}

a[href^="#endnote"]:after {
    content: "]";
}

html, body {
    font-family: 'Crimson Text', serif;
    font-size: 110%;
    line-height: 1.5 ;
    max-width: 800px;
    margin: auto;
}

@media print {
    html, body {
        font-size: 12pt;
        max-width: 100%
        @bottom-left {
            content: page;
        }
    }
}

@page {
    size: auto;
    margin: 25.4mm 25.4mm 25.4mm 25.4mm;
    @bottom-right {
        content: counter(page);
   }
}

@page:first{

}

.markdeepfooter {
    visibility: hidden;
}

.md div.titlepage {
    text-align: center;
    font-size: 1.2em;
}

.md div.title, contents, .md .tocHeader,
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6,
.md .shortTOC, .md .mediumTOC,
.md .nonumberh1, .md .nonumberh2, .md .nonumberh3, .md .nonumberh4, .md .nonumberh5, .md .nonumberh6 {
    font-family: 'Gentium Book Basic', serif;
    font-weight: 700;
    color: navy;

    border: 0;
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
    /*padding-top: 0.5em;*/
    /*padding-bottom: 0.1em;*/

    page-break-after: avoid;
}

.md h1, .md div.nonumberh1, .md div.tocHeader{
    font-size: 1.4em;
}

.md h2, .nonumberh2 {
    font-size: 1.2em;
}

.md h3, .nonumberh3 {
    font-size: 1.0em;
}

.md a{
    font-family: inherit;
}
.md a:link, .md a:visited {
    color: black;
    font-weight: bold;
}

.md .shortTOC, .md .mediumTOC {
    /*visibility: hidden;*/
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8em;
}

.md .longTOC {
    page-break-after: always;
}


/*Headers immediately followed by paragraphs*/
h1 ~ p, h2 ~ p, h3 ~ p, h4 ~ p, h5 ~ p, h6 ~ p {
    margin-top: 0;
}

.md .image, div.imagecaption, .md img {
    display: block;
    margin: auto;
    max-width: 80%;
}

.md div.imagecaption, .md div.tablecaption, .md div.listingcaption {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: bold;
    color: slategrey;
    /*width: 80%;*/
}

.table {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8em;
    line-height: 1rem;
}

.md table.table td, .md table.table th {
    /*border-color: navajowhite;*/
}

.md table.table th {
    color: white;
    background-color: slategrey;
    font-weight: bold;
    font-size: 1.2em;
    font-color: navy;
}

.md table.table tr:nth-child(even){
    /*background: lightsteelblue;*/
}

.md svg.diagram {
    display: block;
    font-family: Consolas, monospace;
}

/* Canvas is used for floating text boxes for the business canvas */

.canvas {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.canvas ul {
    padding-left: 25;
    padding-right: 25;
}

.canvas .top, .canvas .bottom {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
}

.canvas .column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.canvas .canvasentry{
    flex: 1;
    margin: 2px;
    padding: 0.5rem;
    border: 1px solid darkorange;
    font-size: 0.7em;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 1.1rem;
}

.marketing_datasheet .canvasentry {
    font-size: 1em;
}
/*table th {
    background: lightgrey;
}
*/

/*Gantt Chart Related Formatting*/

#legend {
    table-layout: auto;
    width: auto;
    margin-left: 0
}

table.gantt {
    table-layout: fixed;
    width: 100%;
}

table.table td.complete,
table.table td.current,
table.table td.unblocked,
table.table td.blocked {
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
    padding-left:  5;
    padding-right: 5;
}

td.complete {
    background: lightgreen;
}

td.current {
    background: gold;
}

td.unblocked {
    background: lightblue;
}

td.blocked {
    background: lightcoral;
}
